login_form_page {
    height: 100%;
}

.login_form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    width: 40%;
}

.form_control {
    padding-top: 20px;
}