.close-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin: 15px;
    align-self: flex-end;
}

.close-button__svg {
    display: block;
    width: 100%;
    height: 100%;
}

.close-button__svg > path{
    fill: black;
}