.error {
    border-radius: 4px;
    margin: 10px auto;
    padding: 1px;
}

.alert_success {
    color: rgb(30, 70, 32);
    background: rgb(237, 247, 237);
}

.alert_error {
    color: rgb(97, 26, 21);
    background: lightpink;
}

.error_message {
    display: flex;
    align-items: center;
    margin: 10px auto;
    justify-content: center;
}

.display_block {
    display: block !important;
}

.hidden {
    display: none !important;
}